*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER */
header{
    width: 100%;
    height: 500px;
    background-color: rgb(90, 89, 89);
}

.flex{
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 20%;
    margin: auto;
    background-color: red;
    justify-content: space-between;
    color: white;
    text-align: center;
    
}

.cont{
    width: 150px;
    background-color: lightgreen;
    padding: 5px;
}

.menu{
    width: 450px;
    background-color: lightgreen;
    
}

ul li{
    display: inline-block;
    padding: 5px;
}

.cont-centr{
    background-color: green;
    margin: auto;
    width: 50%;
    height: 400px;
}

/* MAIN SECTION */
.box{
    width: 100%;
    height: 300px;
}

.box1{
    background-color: white;
}

.box2{
    background-color: #f6f6f6;
    
}

.container-flex{
    width: 80%;
    margin: auto;
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}

.grey{
    background-color: #f6f6f6;
    flex-direction: row-reverse;
    
}

.alpha{
    background-color: yellow;
    flex-basis: 49%;
}

.beta{
    background-color: red;
    flex-basis: 49%;

}

.sect-bot{
    width: 100%;
    height: 650px;
    background-color: #f6f6f6;
}

.cont-flex{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    height: 650px;
    

}

.row1{
    background-color: orange;
    height: 216px;
    width: 100%;
    margin-top: 30px;
}

.row2{
    background-color: yellow;
    height: 216px;
    width: 100%;

}

.row3{
    background-color: yellowgreen;
    height: 216px;
    width: 100%;
}

